/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }
  
//Importa archivos secundarios
@import "utilidades/variables";
@import "utilidades/mixin";
h1{
  color: white;
  text-align: center;
}
.mainIndex h1{
  @include letrah1;
}


.cab{
  
 .navbar{
background: linear-gradient(90deg, rgba(36,31,31,1) 0%, rgba(38,38,38,1) 26%, rgba(38,38,38,1) 61%, rgb(51, 13, 1) 100%);
box-shadow: -1px 1px 15px 1px rgb(0, 0, 0);
width: 100%;
a{
  @include letraP;
}
}
}

.principal{
  background-image: url("/img/fondo_registro.jpg") ;
  margin-top: 2;
  .bienvenidos{
padding: 2%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    h1{
      @include letrah1;
    }
    .intro{
   
      width: 50%;
    }
    p{
      @include letraP;
      font-size: 1.2rem;
      color: rgb(255, 255, 255);
      text-shadow: 2px 5px 4px black;
    }

    h3{
      @include letrah3
    }
    .flecha{
      display: grid;
      place-items: center;
  
    img{
      margin-top: 2%;
      transform: rotate(-90deg);
      filter: invert(10%);
      width: 10%;
    }
  }
  }

  #parpadeo {
    animation: parpadeo 2s infinite;
    transition: opacity 0.5s ease-in-out;
  }
  
  @keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .contenedorDolarSubtitulo{
   display: flex;
   flex-flow: column;
   margin-top: 4%;
   margin-bottom: 4%;
   .subtitleDolar{
    display: grid;
    place-items: center;
    color: white;
    @include letraP	;
   
    text-shadow: 2px 5px 4px black;
   }
  .contenedorDolar{

   
    padding: 0.5%;
    @include flex(flex, row,wrap, center,space-evenly);
      .car{
        width: 12%;
        box-shadow: -1px 10px 33px 1px rgb(0, 0, 0);
      
        .nameMoneda{
          text-align: center;
          background: linear-gradient(90deg, rgba(35, 34, 32, 0.886) 0%, rgb(83, 81, 78) 53%, rgba(74, 72, 72, 0.824) 100%);
          @include letrah4;
          color: rgb(245, 245, 238);
          height: 3rem;
          text-shadow: 2px 5px 4px black;
          
        }
        .precioMoneda{
          text-align: center;
          @include letraP;
          color: white;
          background: linear-gradient(90deg, rgba(35, 34, 32, 0.886) 0%, rgb(83, 81, 78) 53%, rgba(74, 72, 72, 0.824) 100%);
          text-shadow: 2px 5px 4px black;
          
       
         
        }
      }

    }
  }
  }


.registroPagina{
  //
  background-size : cover;
  background-repeat: no-repeat;


}

.mainIndex{
height:  1080px;
  display: flex;
    justify-content: center;
  .home{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    gap: 50px;
  }
}
.indexPagina{
background-image: url("/img/17010-4k.jpg") ;
background-size : cover;
background-repeat: no-repeat;
    
}

.titleModal{
  @include letrah3;
  color: rgba(0, 0, 0, 0.87);
text-align: center
}
.tablaNombre{
  @include letrah4;
  color: rgba(0, 0, 0, 0.87);
}

.modal{
  text-align: center;
}



.resultados{
  width: 100%;
  height: 200px;
  font-family: "Square Peg", cursive !important;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-size: 2vw;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  gap: 200px;

}

.resultados .resultados1{

  width: 20%;
}
.resultados .resultados1 table{
 
  width: 100%;
  border: 1px solid black;
}

.resultados .resultados1 table th{ 
  border: 1px solid black;
}

.green{ 
  background-color: rgb(165, 230, 149);
}

.yellow{ 
  background-color: rgb(214, 241, 131);
}

.resultados .resultados1 table td{

  border: 1px solid black;
}


.pagina{
    display: flex;
    flex-flow: column wrap;
  
}
.pagina h1 h2{
    font-family: "Nunito Sans", sans-serif;
    font-size: 3vw;
}



.pagina .resultados .resultados1 h3{
    position: absolute;
    top: 0;
}
.pagina .resultados .resultados1 p{
    font-family: "Nunito Sans", sans-serif;
    font-size:1.5rem;
   
}

.pagina .resultados .resultados1 .descuento{

align-items: center;
width: 100px;
height: 50px;
}

.formulario {

  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 2%;
  font-size: 1.5rem;

}
    .click {
    
        background-color: rgb(57, 57, 141);
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: .4s;
      }

    
      

      .click:hover {
        background-color: rgb(157, 47, 47);
        
      }


      .cuerpoDatos{
        display: flex;
        flex-flow: column wrap;
        background-color: rgb(37, 37, 37);
        .cardsTotales{
          display: grid;
          place-items: center;
          margin: 2%;
          margin-bottom:5%;
          .card-img-top{
            height: 9rem;
          }
         .card-body{
          text-align: center;
          background-image: radial-gradient(circle at 50% 120.71%, #ffff88 0, #ffe678 16.67%, #d3c469 33.33%, #a39f58 50%, #787a48 66.67%, #555a39 83.33%, #393e2b 100%);
          color: rgb(29, 26, 26);
          text-shadow: 2px 2px 6px black;
          }
        }
        .tituloBaseDatos{
          margin-top: 1%;
          @include flex(flex, row,nowrap, center,space-evenly);
          background-color: rgba(73, 17, 4, 0.123);

          .celda1{
            background-color: rgba(130, 122, 28, 0);
            width: 20vh;
            }
          .celda{
          background-color: rgba(130, 122, 28, 0.412);
          width: 25vh;
          }
          p{
            margin-top: 4%;
          color: aliceblue;
          @include letrah2;
          font-size: 1.2rem;
          text-align: center;
    
          }
        }

        .cabeceraDatos{
          @include flex(flex, row,nowrap, end,space-between);
          position: relative;
          margin-top: 1%;
          height: 7vh;
          .cabeceraDatosBtn{
            display: flex;
            
            gap: 51px;
            position: absolute;
            right: 5%
          }
          .nombreTablaSeleccionada{
        position: absolute;
        left: 40%;
        @include letrah2;
        text-shadow: 2px 5px 4px black;
          }

        }
      }
  

  


      .botonera{
        @include flex(flex, row,wrap, center,space-around);
       margin-top: 2%;
       background: linear-gradient(90deg, rgba(36, 31, 31, 0.938) 0%, rgba(38, 38, 38, 0.904) 60%, rgba(38, 38, 38, 0.931) 61%, rgba(51, 13, 1, 0.84) 100%);
       box-shadow: -1px 1px 15px 1px rgb(0, 0, 0);
       padding: 2%;


       h2{color: white;}
       position: sticky;
       top: 6%;
       z-index: 999;
       
       @include letrah1;
      
       button{
        @include letraP;
       }
      }
        
      .contenedorBaseDatos{
        display: block;
        width: 100%;
        background-color: rgba(16, 16, 16, 0.614);
        margin-bottom: 1;  
       
    
        .verde{
         
          .fila{
            @include flex(flex, row,nowrap, center,space-evenly);
            text-align: center;
            width: 100%;
            background-color: rgba(8, 8, 8, 0.423);
       
              

              h4{
                margin-top: 2%;
                color: aliceblue;
                @include letraP;
  
         
                
              }
              img{
                width: 20%;
                    
              }
              .celda1{
                width: 20vh;
        
                  }
              .celda{
            width: 25vh;
            border-left: solid 1px white;
            border-bottom: solid 1px white;
                }
              }
            }

            .rojo{
              .fila{
                @include flex(flex, row,nowrap, center,space-evenly); 
                width: 100%;
                background-color: rgba(8, 8, 8, 0.423);
             
          
                  
                  h4{
                    margin-top: 2%;
                    color: aliceblue;
                    @include letraP;
             
                    
                  }
                  img{
                    width: 20%;
                 
                  }
    
                  .celda1{
                    width: 20vh;
            
                      }
                  .celda{
                width: 25vh;
                border-left: solid 1px white;
                border-bottom: solid 1px white;
          
 
                  }
                
    
                  }
                }

      }


  
       
  
      .containerDatos{
    
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-around;
          
  
      }

      .containerDatos .containerDatosChild{
        display: flex;
        background-color: rgb(212, 253, 253);
        font-size: 1.5rem;
        font-family: "Nunito Sans", sans-serif;
        border:1px solid black;
        width: 19%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
     
      
     
      }



      .btnBoot{
        display: flex;
        gap: 1%;
        font-size: 2rem;
        
      }

      
      .btn{
         font-size: 1.5rem;
        
      }


      .resultados2{
        h3{
          color: aliceblue;
          font-family:$letra_H3 ;
        }
        p{
          color: aliceblue;
          font-family: $letra_P;
        }
      }

      .letraTitleCard{

        @include letrah2
      }


  

      @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }
    
 
    
    .hover {
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
    
    .hover:hover {
      transform: translate(5px, -10px); /* Desplaza el div hacia arriba y hacia la derecha */
      box-shadow: -20px 10px 33px 1px rgb(0 0 0 / 70%)
    }

    footer{
      background-color: rgb(20, 20, 20);
      color: white;
      display: flex;
      height: 6vh;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      position: fixed;
      bottom: 0;
      padding: 2%;
      .fecha{
        color: wheat;
  p{
    color: aliceblue
  }
      }
     p{
      @include letraP;
     }
     .redesSociales{
      display: flex;
      gap: 	20%;
     }
      img{
        width: 50px;
      }

    }

  /* Estilos para la calculadora */
  #calculator-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f5f5f5;
  }

  #calculator-container input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: right;
  }

  #calculator-container button {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    font-size: 24px;
  }

  #calculator-container button:active {
    box-shadow: inset 0px 0px 5px #ccc;
  }

  #calculator-container button.operator {
    background-color: #fd9226;
    color: white;
  }

  #calculator-container button.operator:active {
    background-color: #e68a1f;
  }

  #calculator-container button.clear {
    background-color: #f7a3a3;
    color: white;
  }

  #calculator-container button.clear:active {
    background-color: #e99696;
  }

  #calculator-container button.equal {
    background-color: #21b81e;
    color: white;
  }

  #calculator-container button.equal:active {
    background-color: #1d9e1b;
  }