//Fuentes
$letra_H1: 'Comfortaa', cursive;
$letra_H2:'Shadows Into Light', cursive;
$letra_H3:'Varela Round', sans-serif;
$letra_H4:'Caveat', cursive;
$letra_Nav: 'Josefin Sans', sans-serif;
$letra_P: 'Comfortaa', cursive;
$letra_Banner: 'Nunito Sans', sans-serif;


$altura_1: 1rem;
$altura_2: 1.5rem;
$altura_3: 2rem;
$altura_4: 2.5rem;
$altura_5: 3rem;

// font-family: 'Caveat', cursive;
// font-family: 'Comfortaa', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Lilita One', cursive;
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Shadows Into Light', cursive;